.square {
  background-color: #444;
  /* margin: 10px; */
  color: white;
  border: 1px solid gold;
  width: 100px;
  height: 100px;
  font-size: 80px;
  cursor: pointer;
}

.square:focus {
  outline: none;
  background-color: #222;
}
